<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <sessionState mode="InProc" cookieless="UseCookies" timeout="20" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="FiaHandler"
           verb="GET,PUT,POST,DELETE,OPTIONS"
           path="*.FIA"
           type="Lab1.FiaHttpHandler, FiaHandlerAssembly"
           resourceType="Unspecified"
           preCondition="integratedMode" />
    </handlers>
  </system.webServer>

</configuration>